body {
    background-color: #6800001f;
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
  }
  
  h1, h2{

    color: #373fff;
        font-family: helvetica, arial, sans-serif;
  }
  
    

    #titulo , #p1, #p2, #p3, #p4, #detalhe{
        text-align: center;
    }

   